* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  overflow-x: hidden;
}

.whole-container {
  max-width: 73.125em;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

/* Global Decleration*/
/* Button-1 Styling*/
.btn-1 {
  background-color: #27ad6c;
  width: 150px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.btn-1:hover {
  background-color: #70c919;
}

.btn-1 section {
  padding: 2px 3px;
}

/* Header Section*/
.header-container {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.5))), url(../img/showcase.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../img/showcase.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #70c919;
  gap: 1rem;
  margin-left: 30px;
}

header .logo .icon {
  color: #fff;
  font-size: 2em;
}

header .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100px;
}

header h1 {
  font-size: 1em;
  text-transform: uppercase;
  width: 100%;
}

header h2 {
  font-size: 1em;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  width: 100%;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 60vw;
  height: 50vh;
  background-color: rgba(32, 31, 30, 0.568);
  z-index: 2;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-list.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-list .lists {
  list-style: none;
}

.menu-list .lists.show {
  display: block;
}

.menu-list .lists a {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-list .lists a:hover {
  color: #70c919;
}

#contact {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
}

#contact:hover {
  color: #70c919;
}

/* Hamburger Button Styling*/
.menu-btn {
  overflow: hidden;
  position: absolute;
  cursor: pointer;
  right: 35px;
  top: 35px;
  z-index: 3;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  background-color: #fff;
  width: 28px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

/* Showcase Styling*/
.showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  padding: 20px 20px;
}

.showcase h1 {
  font-size: 2rem;
}

.showcase p {
  color: #9b9b9b;
  line-height: 1.6;
}

/* About Page Styling*/
.about {
  padding: 50px 0;
}

.about .abt-head {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.about .abt-head h1 {
  font-size: 1.5rem;
  color: #9b9b9b;
  font-weight: 400;
}

.about .card {
  width: 90%;
  margin: auto;
}

.about .cards {
  max-width: 320px;
  padding: 20px 15px;
  margin: auto;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  justify-items: center;
}

.about .cards img {
  max-width: 100%;
}

.about .cards h1 {
  color: #27ad6c;
  font-size: 1.2em;
  text-align: center;
}

.about .cards p {
  color: #9b9b9b;
  text-align: center;
}

/* Resources Styling*/
.resources {
  padding: 50px 0;
  width: 100vw;
}

.boxes {
  width: 90%;
  margin: auto;
}

.box {
  max-width: 320px;
  height: 500px;
  padding: 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  margin: auto;
}

.box .box-header {
  font-size: 1.5rem;
  color: #9b9b9b;
  font-weight: 400;
}

.box section {
  height: 50px;
}

.box img {
  width: 20px;
  height: 20px;
}

.box a {
  padding: 20px 0;
  max-width: 400px;
  text-decoration: none;
  color: #27ad6c;
  font-size: 0.8rem;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.box a:hover {
  color: #70c919;
}

/* Boxes with no logo(wl) Styling*/
.wl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(184, 182, 182, 0.479);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  color: #27ad6c;
}

.wl h1 {
  font-size: 0.8rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.wl h1:hover {
  color: #70c919;
}

/* Boxes with no logo(wnl) Styling*/
.wnl {
  border-bottom: 1px solid rgba(173, 169, 169, 0.589);
  gap: 1rem;
  color: #27ad6c;
}

.wnl h1 {
  font-size: 0.8rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.wnl h1:hover {
  color: #70c919;
}

.wnl p {
  font-size: 0.5rem;
  color: rgba(110, 108, 108, 0.685);
}

.ninja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin: auto;
}

.ninja .line {
  width: 100px;
  height: 1px;
  background-color: #70c919;
}

.ninja .ninja-logo {
  font-size: 1.5rem;
  color: #70c919;
}

/* Food Page Styling*/
.food-title {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  padding: 20px 0;
}

.food-title h1 {
  color: #9b9b9b;
  font-size: 1.5rem;
  font-weight: 400;
}

.food-title p {
  margin-top: 15px;
  font-size: 0.8rem;
  color: #9b9b9b;
  position: relative;
}

/* Paragraph with smily Styling*/
#edit {
  margin: 0 15px;
  letter-spacing: 0.5rem;
}

#dash-1 {
  position: relative;
}

#dash-1::before {
  content: "-";
  position: absolute;
  -webkit-transform: translate(-6px, -6px);
          transform: translate(-6px, -6px);
}

#dash-2 {
  position: relative;
}

#dash-2::after {
  content: "-";
  position: absolute;
  -webkit-transform: translate(-5px, -6px);
          transform: translate(-5px, -6px);
}

#eyes {
  position: relative;
}

#eyes::after {
  content: '"';
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 7px;
  top: -4px;
}

#curve {
  position: relative;
}

#curve::before {
  content: ")";
  position: absolute;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  left: -12px;
  top: 0px;
}

/* Food photos Styling*/
.food-photos {
  display: block;
}

.food-photos section {
  height: 0;
  padding: 40% 0;
  position: relative;
  overflow: hidden;
}

.food-photos section img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

/*Work Section Styling*/
.work {
  background-color: #423633;
}

.work-header {
  width: 100%;
  text-align: center;
  padding: 100px 0px;
}

.work-header h1 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}

.work-content {
  width: 80%;
  margin: auto;
  display: block;
}

.work-content section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding: 40px 10px;
}

.work-content section h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
}

.work-content section p {
  color: #9b9b9b;
  font-size: 0.8rem;
  margin-top: 10px;
}

.work-content section .work-logo {
  font-size: 2rem;
  color: #fed693;
}

.work-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
  margin-top: 30px;
}

.work-ninja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #9b9b9b;
  font-size: 2.5rem;
  padding: 50px 0;
}

footer {
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0px;
}

footer p {
  color: #fff;
  margin-left: 20px;
}

.footer-content {
  margin-left: 20px;
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer-content h1 {
  font-size: 1rem;
  font-weight: 400;
}

.footer-content h1 a {
  text-decoration: none;
  color: #fff;
}

/* Contact form*/
.contact {
  position: fixed;
  overflow-x: hidden;
  padding: 40px;
  text-shadow: 0 1px 0 black;
  color: #fff;
  z-index: 5;
  width: 100vw;
  min-height: 100vh;
  background-color: #131111;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.contact.show {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.contact #line {
  display: block;
  margin: 30px 0;
  width: 100px;
  height: 2px;
  background-color: #e22b2b;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.contact h1 {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
  text-transform: uppercase;
}

.contact p {
  text-align: center;
  font-size: 17px;
  margin-top: 10px;
  letter-spacing: 0.1rem;
}

.contact input {
  background: transparent;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  width: 70%;
  padding: 20 0 10px;
  font-size: 1em;
  line-height: 35px;
  resize: none;
  display: block;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.contact textarea {
  background: transparent;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  width: 70%;
  padding: 20 0 10px;
  font-size: 1em;
  line-height: 35px;
  resize: none;
  display: block;
  margin: auto;
  margin-bottom: 50px;
}

.contact textarea::-webkit-input-placeholder {
  font-size: 15px;
  color: #9b9b9b;
  text-align: left;
  font-family: bold;
  letter-spacing: 0.1rem;
}

.contact textarea:-ms-input-placeholder {
  font-size: 15px;
  color: #9b9b9b;
  text-align: left;
  font-family: bold;
  letter-spacing: 0.1rem;
}

.contact textarea::-ms-input-placeholder {
  font-size: 15px;
  color: #9b9b9b;
  text-align: left;
  font-family: bold;
  letter-spacing: 0.1rem;
}

.contact textarea::placeholder {
  font-size: 15px;
  color: #9b9b9b;
  text-align: left;
  font-family: bold;
  letter-spacing: 0.1rem;
}

.contact .btn-2 {
  height: 38px;
  background: transparent;
  border: solid 1px #00ff22;
  letter-spacing: 0.1rem;
  font-weight: 600;
  padding: 0 40px;
  color: #00ff6a;
  margin: auto;
  display: block;
  text-transform: uppercase;
  font-family: bold;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.contact .btn-2:hover {
  background-color: rgba(80, 226, 67, 0.1);
}

.btn-3 {
  overflow: hidden;
  position: absolute;
  cursor: pointer;
  right: 35px;
  top: 35px;
  z-index: 3;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.btn-3 .btn3-line {
  background-color: #fff;
  width: 28px;
  height: 3px;
  margin: 5px;
}

.btn-3 .btn3-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.btn-3 .btn3-line:nth-child(2) {
  opacity: 0;
}

.btn-3 .btn3-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

@media screen and (min-width: 468px) {
  body {
    overflow-x: hidden;
  }
}

/* Media queries for desktop*/
@media screen and (min-width: 768px) {
  /* Header Section*/
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .logo {
    margin-left: 30px;
  }
  .menu-btn {
    display: none;
  }
  .menu-list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 10vh;
    background-color: transparent;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  /* Showcase Section*/
  .showcase {
    width: 90vw;
  }
  .showcase h1 {
    font-size: 4rem;
  }
  .showcase #p-1 {
    width: 500px;
    margin: auto;
  }
  .showcase .btn-1 {
    width: 200px;
    color: #fff;
  }
  /* About Page Styling*/
  .about .abt-head {
    margin-top: 80px;
  }
  .about .abt-head h1 {
    font-size: 2.5rem;
    padding: 20px 0;
    font-weight: 400;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  /* Resource Page Styling*/
  .boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .box .box-header {
    font-size: 2.5rem;
    white-space: nowrap;
  }
  .box section {
    min-width: 350px;
  }
  /* Ninja Logo Styling*/
  .ninja {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  .ninja .line {
    width: 110px;
    height: 1px;
    background-color: #70c919;
  }
  .ninja .ninja-logo {
    color: #70c919;
    font-size: 2rem;
    position: relative;
  }
  .ninja .ninja-logo::after {
    content: '';
    position: absolute;
    width: 350px;
    height: 1px;
    background-color: #70c919;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    left: -165px;
    top: -250px;
  }
  /* Some random food Styling*/
  .food-title h1 {
    font-size: 2.5rem;
  }
  /* Food photos Styling*/
  .food-photos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  .food-photos section {
    height: 0;
    padding: 50% 0;
    position: relative;
    overflow: hidden;
  }
  .food-photos section img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  /* Work Section Styling*/
  .work-header h1 {
    font-size: 2.5rem;
  }
  .work-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
  }
  .food-container {
    width: 100vw;
  }
}

@media screen and (min-width: 1200px) {
  .food-container {
    max-width: 1380px;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */